<app-navbar></app-navbar>
<section class="vh-100" style="background-color: lightblue;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2"><span class="h2 me-2">TO DO LIST</span> <span
              class="badge bg-danger">Priority</span></p>

            <div class="container" bg-danger>
          <h3>Time Manage</h3>
            </div>

            <br>


            <ul class="list-group rounded-0">
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Write down new ideas
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Work on design UI and UX
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Choose topic
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Design Layout
              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                Adjust the components              </li>
              <li class="list-group-item border-0 d-flex align-items-center ps-0">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
            Publish it
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  #list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }

  .vh-100{
    diplay:flex;
    text-align: center;
  }
  .container{
    font-family: "Arial Narrow";
    font-color:grey ;
    letter-spacing: normal;
  }
</style>
<app-reasearch></app-reasearch>
